:host {
  height: 100%;
  display: block;
}

img {
  height: 100%;
}

.rotating {
  display: flex;
  justify-content: center;
  font-size: 7em;
  animation: rotating 3s linear infinite;
}

@-webkit-keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }