<div [routerLink]="['/comic', comic._id]" class="box has-text-white cover-background is-flex flex-container relative" [style.backgroundImage]="'url('+ comicsMap.get(comic._id).cover +')'">

    <div class="field to-corner to-right" (click)="toggleButton.emit(comic); $event.stopPropagation()">
      <input type="checkbox" name="switchExample" class="switch is-rounded" [checked]="comic.wish">
      <label for="switchExample"></label>
    </div>

    <small><i class="fa" [ngClass]="getCalendarIcon(comic._id)"></i>
    <span class="small">{{comicsMap.get(comic._id).attributes.publication_date}}</span></small>
    <h1 style="font-size: 1.1em" class="has-text-weight-bold" >{{comicsMap.get(comic._id).attributes.title}}</h1>

      <!-- <div *ngFor="let issue of getIssues(comic)">
        <span class="tag" *ngIf="getPercentagePages(comic, issue) || comic[issue].read">
          <a [routerLink]="['/comic', comic._id, issue]" >
            <span class="tag" [ngClass]="[comic[issue].read ? 'is-primary': 'is-light']">
              #{{getIssueNumber(comic._id, issue)}}
              <span *ngIf="!comic[issue].read; else completed">&nbsp;{{getPercentagePages(comic, issue)}}%</span>
            <ng-template #completed>
              <i class="fa fa-check-circle"></i>
            </ng-template>
            </span>
          </a>
        </span>
      </div> -->

</div>
