<div [routerLink]="['/comic', comic._id]" style="min-height: 15.25rem" class="box is-clipped has-text-white is-flex flex-container relative">

  <div class="cover-background-parent">
    <div class="cover-background-child">
      <pou-slow-image [src]="comic.cover"></pou-slow-image>
    </div>
  </div>

  <div class="to-corner is-flex">
    <div class="tag is-rounded" [ngClass]="[comic.status === 'Completed' ? 'is-black' : 'is-dark']">{{comic.status === 'Completed' ? '🏛' : '🏗'}} {{comic.status}}</div>
  
    <div (click)="toggleButton.emit(comic); $event.stopPropagation()">
      <input id="switch" type="checkbox" name="switch" class="switch is-rounded" [checked]="comic.wish">
      <label for="switch"></label>
    </div>
  </div>


  <h1 style="font-size: 1.1em; z-index: 10" class="has-text-weight-bold">{{comic.title}}</h1>

</div>