<div [routerLink]="['/comic', comic._id]" class="box has-text-white cover-background is-flex flex-container relative" [style.backgroundImage]="'url('+ comic.cover +')'">

  <div class="field to-corner to-right" (click)="toggleButton.emit(comic); $event.stopPropagation()">
    <input id="switch" type="checkbox" name="switch" class="switch is-rounded" [checked]="comic.wish">
    <label for="switch"></label>
  </div>
  
  <h1 style="font-size: 1.1em" class="has-text-weight-bold">{{comic.title}}</h1>
  <small>
    <span class=" to-corner to-left small tag is-rounded" [ngClass]="[comic.status === 'Completed' ? 'is-black' : 'is-dark']">{{comic.status === 'Completed' ? '🏛' : '🏗'}} {{comic.status}}</span>
  </small>

</div>