<div *ngIf="comic && comic.data; else noAvailable">
  <div class="row">
    <h1 class="col-12 display-4">{{comic.data.attributes.title}}</h1>
    <p class="col-12"><mark>{{comic.data.attributes.status}}.</mark> {{comic.data.attributes.summary}}</p>

    <div class="col-sm-4 col-6">
      <img class="img-fluid" [src]="comic.data.links.cover" alt="cover">
    </div>

    <div class="col-sm-4 col-6">
      <h2>Info</h2>
      <ul class="list-group">
        <li class="list-group-item">
            <strong>Artist</strong>: {{comic.data.relationships.artist.id}}
        </li>
        <li class="list-group-item">
          <strong>Publisher</strong>: {{comic.data.relationships.publisher.id}}
        </li>
        <li class="list-group-item">
          <strong>Writer</strong>: {{comic.data.relationships.writer.id}}
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="col-6 col-sm-12">
          <h2>Genres</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge badge-default m-1" *ngFor="let genre of genres">{{genre.id}}</span>
            </li>
          </ul>
        </div>
        <div class="col-6 col-sm-12">
          <h2>Publication</h2>
          <ul class="list-group">
            <li class="list-group-item">
              {{comic.data.attributes.publication_date}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-10 offset-sm-1">
      <h2>Issues</h2>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let issue of issues; let i = index">
          <a routerLink="/comic/{{comic.data.id}}/{{getIssueLink(issue.links.self)}}">{{issue.attributes.title}}</a>
          <div class="">
            <button (click)="downloadIssue(comic.data.id, getIssueLink(issue.links.self))" type="button" class="btn btn-sm btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">
            PDF
          </button>
            <button [class.active]="issuesRead[issue.id]" type="button" class="btn btn-outline-primary btn-sm" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="markIssueRead(issue.id)">
            Read
          </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>

<ng-template #noAvailable>
  <div class="alert alert-danger" role="alert">
    Comic not found.
  </div>
</ng-template>
