<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">

      <div class="field has-addons is-horizontal">

        <div style="width: 100%" class="control">
          <input class="input" type="password" (keyup.enter)="login(user)" placeholder="User" [(ngModel)]="user">
        </div>
        <div class="control">
          <a class="button is-white is-outlined" (click)="login(user)">Login</a>
        </div>

      </div>
    </div>
  </div>
</section>
