<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">

      <h1 class="title has-text-centered">
        {{comic.title}}
      </h1>

      <p class="tags is-centered">
        <span class="tag is-rounded" *ngFor="let genre of comic.genres">
          <a [routerLink]="['/search']" [queryParams]="{genres: genre.id}">
            {{ genre.name }}
          </a>
        </span>
      </p>

      <h2 class="is-flex" style="justify-content: space-between; max-width: 70vw; margin: auto;">
        <div (click)="toggleWish.emit(comic)">
          <input type="checkbox" name="switchRounded" class="switch is-rounded" [checked]="comic.wish">
          <label for="switchRounded">{{comic.wish ? 'Following': 'Follow'}}</label>
        </div>
        <span class="tag is-rounded" [ngClass]="comic.status === 'Completed' ? 'is-primary': 'is-warning'">{{comic.status === 'Completed' ? '🏛' : '🏗'}} {{comic.status}}</span>
      </h2>

    </div>
  </div>
  <div class="hero-foot is-hidden-tablet">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li [ngClass]="{'is-active': selectedTab === 'general'}" (click)="selectedTab = 'general'">
            <a>General</a>
          </li>
          <li [ngClass]="{'is-active': selectedTab === 'issues'}" (click)="selectedTab = 'issues'">
            <a>Issues</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">

  <div class="container-fluid">

    <div class="columns is-tablet">

      <div class="column is-7" *ngIf="isVisible('general')">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <div class="tile">
              <div class="tile is-parent is-vertical is-8">

                <article class="tile is-child notification is-warning">
                  <p class="title is-marginless">Info</p>
                  <ul>
                    <li>
                      <strong>Artists</strong>:
                      <span *ngFor="let artist of comic.artists">
                        {{artist.first_name}} {{artist.last_name}}
                      </span>
                    </li>
                    <li>
                      <strong>Publishers</strong>:
                      <span *ngFor="let publisher of comic.publishers">
                        {{publisher.name}}
                      </span>
                    </li>
                    <li>
                      <strong>Writers</strong>
                      <span *ngFor="let writer of comic.writers">
                        {{writer.first_name}} {{writer.last_name}}
                      </span>
                    </li>
                  </ul>
                </article>

              </div>
              <div class="tile is-parent is-4">

                <article class="tile is-child">
                  <figure class="image">
                    <img (click)="toggleZoomIn()" [ngClass]="{'zoomIn': zoomed}" class="img-fluid zoomable" [src]="comic.cover" alt="cover" style="border-radius: 3px">
                  </figure>
                </article>

              </div>
            </div>
            <div class="tile is-parent">

              <article class="tile is-child notification is-info">
                <p class="title is-marginless"> 📅 {{comic.publication_date}} </p>
                <p class="has-text-justified"> {{comic.summary}}</p>
              </article>

            </div>
          </div>
        </div>
      </div>

      <div class="column is-5" *ngIf="isVisible('issues')">
        <div class="tile is-acenstor">
          <article class="tile is-child notification is-success" style="padding-right: .6em">
            <p class="title is-marginless">Issues ({{orderedIssues.length}})</p>
            <small>Updated: {{comic.last_update | date: 'longDate'}}</small>
            <ul [ngClass]="{'no-overflow': currentWidth > mobileWidth}">
              <li *ngFor="let issue of orderedIssues" style="margin: .2em">
                <div class="is-flex" style="align-items: center; justify-content: space-between">

                  <span>
                    {{getPercentageIcon(issue.percentage)}}
                  </span>

                  <a [routerLink]="['/comic', comic._id, issue.id]"> {{issue.title}}</a>

                  <div class="is-inline" (click)="markIssueRead.emit({comic: comic._id, issue: issue.id, val: !issue.read})">
                    <input type="checkbox" name="switchRounded" class="switch is-rounded" [checked]="issue.read">
                    <label for="switchRounded"></label>
                  </div>

                </div>
              </li>
            </ul>
          </article>
        </div>
      </div>


    </div>
  </div>

</section>