/* You can add global styles to this file, and also import other style files */
$turquoise: #0080d1;
$desktop: 600px;


@import "~bulma";
@import "~bulma-switch/switch";


html {
  background-color: $light;
}

.navbar-menu {
  background-color: $dark;
}
