/* You can add global styles to this file, and also import other style files */
$turquoise: #0080d1;
$tablet: 600px;
$breadcrumb-item-hover-color:	#fff;


@import "~bulma";
@import "~bulma-switch/switch";


html {
  background-color: $light;
}

.navbar-menu {
  background-color: $dark;
}

@keyframes spinnerRotate {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
    
}

.loading {
  position: fixed;
  top: 45vh;
  left: 45vw;
  font-size: 5em;
  animation-name: spinnerRotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
