<div class="field has-addons is-marginless">
  <div class="control">
    <input [formControl]="searchForm" (keyup.escape)="searchForm.reset()" [class.is-danger]="searchForm.value && searchForm.value.length <= 3"
      class="input is-small" type="text" placeholder="Search">
  </div>
  <div class="control">
    <a [class.is-loading]="isLoading" class="button is-small is-light is-outlined" (click)="searchForm.reset()">
      <span class="is-hidden-mobile"> Cancel &nbsp;</span> ❌
    </a>
  </div>
</div>

<ul *ngIf="listed | async; let comics" class="container custom-container">
  <li *ngFor="let comic of comics">
    <pou-search-item [comic]="comic" (goTo)="onGoTo($event)"></pou-search-item>
  </li>
</ul>