<div class="form-group">
  <div [class.has-danger]="searchForm.value && searchForm.value.length <= 3" class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-sm btn-secondary" type="button" (click)="searchForm.reset()">Cancel</button>
    </span>
    <input [formControl]="searchForm" type="text" class="form-control" (keyup.escape)="searchForm.reset()" placeholder="Search comic">
  </div>
  <ul class="list-group d-flex flex-row flex-wrap" style="position:absolute; z-index:2; overflow-y: overlay; max-height: 90vh">
    <li *ngFor="let item of listed | async" class="list-group-item d-flex justify-content-between">
      <a routerLink="/comic/{{item.id}}">{{item.attributes.title}}</a>
      <img style="width:4em" class="img-fluid" [src]="item.links.cover" alt="cover">
      <div>
        <span>{{item.attributes.completed ? 'Complete': 'Ongoing'}}</span>
        <small>{{item.attributes.summary}}</small>
      </div>
    </li>
    <li *ngIf="loading" class="list-group-item d-flex justify-content-between">
      Loading ...
    </li>
  </ul>
</div>
