<h1 class="text-center">My Collection</h1>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let comic of comicsRead">
    <span>
      <button class="btn btn-sm btn-outline-primary" routerLink="['comic', comic._id]">{{issuesMap.get(comic._id).attributes.title}} </button>
      <button type="button" class="btn btn-sm" [ngClass]="comic.wish? 'btn-dark': 'btn-outline-dark'" (click)="toggleComicWish(comic)">Wish</button>
      <div>
        <i class="fa" [ngClass]="getCalendarIcon(comic._id)"> </i>
        <span class="small">{{issuesMap.get(comic._id).attributes.publication_date}}</span>
      </div>
    </span>
    <span class="badge badge-secondary m-1" *ngFor="let issue of getIssues(comic)">
      <a class="text-white">#{{getIssue(comic._id, issue).attributes.number}} </a>
      <span>{{getPercentagePages(comic, issue)}}%</span>
    </span>
  </li>
</ul>

<!-- <div class="row">
  <div class="col-sm-6">
      <h1 class="text-center">News</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let new of news.news">
          <button class="btn btn-sm btn-outline-primary" routerLink="/comic/{{new.id}}">
            <img class="img-fluid" style="max-height: 7em" [src]="new.links.cover" alt="cover"> {{new.attributes.title}}
          </button>
          <button type="button" class="btn btn-sm" [ngClass]="new.wish? 'btn-dark': 'btn-outline-dark'" (click)="toggleComicWish(new)">Wish</button>
        </li>
      </ul>
  </div>

  <div class="col-sm-6">
    <h1 class="text-center">Updated</h1>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let update of news.updated">
        <button class="btn btn-sm btn-outline-primary" routerLink="/comic/{{update.id}}">
          <img class="img-fluid" style="max-height: 7em" [src]="update.links.cover" alt="cover"> {{update.attributes.title}}
        </button>
        <button type="button" class="btn btn-sm" [ngClass]="update.wish? 'btn-dark': 'btn-outline-dark'" (click)="toggleComicWish(update)">Wish</button>
      </li>
    </ul>
  </div>
</div> -->
