<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">My Collection</h1>
      <h2 class="subtitle">Following {{($comics | async)?.length}} comics 🤖</h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container-fluid">

    <div class="columns is-mobile is-variable is-1 is-multiline is-centered">
      <div class="column is-one-quarter-tablet is-half-mobile" *ngFor="let comic of $comics | async | select: 'comics'">
        <pou-home-item [comic]="comic" (toggleButton)="toggleComicWish($event)"></pou-home-item>
      </div>
    </div>

  </div>
</section> 